page-perfil {
    width: 100%;
    height: 200px;
}
ion-content{
    display: block;
}

.botones{
    align-content: center;
    text-align: center;
    float: left;
    width: 100%;
    height: 100%;
}
.boton{
    width: 40%;
    height: 30px;
}