page-inicio {
    #map_canvas{
        display: block;
        height: 100%;
        width: 100%;
    }
}

.accesos {
    //width: 95%;
    //height: 50px;
    background-color: green;
    padding-left: 15%;
}
.acceso {
    width: 25%;
    height: 45px;
    //background-color: gray;
    float: left;
    padding-right: 5%;
}